.buttons {
    display: flex;
    width: 90vw;
    justify-content: space-around;
}

.calendars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4vh;
}

.carousel {
    width: 40vw;
    height: 40vh;
}